{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css'%}">
    <title></title>
  </head>
<!--nav and logo-->
  <div class="logo">
    <img src="" alt="">
  </div>
  <div class="navigation">
    <nav class="nav">
      <ul class="nav-list">
        <li class=" nav__item"><a class="nav__link" href="{% url 'polls:home'%}">home</a></li>


      </ul>
    </nav>
  </div>
<!--body and sections-->
  <body class="body">
    <div class="messages">
      {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
      {% endif %}
    </div>
    {% block content %}

    {% endblock %}
    {% if is_paginated %}
        <div class="pagination">
          <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="page-link"href="?page=1">first</a>
                    <a class="page-link"href="?page={{page_obj.previous_page_number}}">&laquo;</a>
                {% endif %}

                <span class="current">Page {{ page_obj.number }} </span>

                {% if page_obj.has_next %}
                  <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a>
                  <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">last</a>
                {% endif %}

          </span>

        </div>
    {% endif %}
  </body>
</html>
